<%- include('../partials/header.ejs') %>

<div class="row">
  <div class="col">
    <p class="title">More than just<br />shorter links</p>
    <p class="subtitle">
      Build your brand's recognition and get detialed<br />insights on how your
      links are performing.
    </p>
    <a href="#" class="accent-btn call-btn">Get Started</a>
  </div>
  <div class="col img-col">
    <img src="/undraw_link_shortener_mvf6.svg" width="100" />
  </div>
</div>

<form onsubmit="onSubmit">
  <input placeholder="Shorten a link here..." type="text" name="url" id="url" />
  <button class="accent-btn">Shrink It!</button>
</form>

<div id="shortenUrl"></div>

<%- include('../partials/footer.ejs') %>
