<%- include('../partials/header.ejs') %>

<h1>Short Stuff</h1>

<form onsubmit="onSubmit">
  <input placeholder="shorten url here" type="text" name="url" id="url" />
  <button>Shorten It!</button>
</form>

<div id="shortenUrl"></div>


<script src="/script.js"></script>
</body>
</html>
