<%- include('../partials/header.ejs') %>

<div class="row">
  <div class="col">
    <p class="title">More than just<br />shorter links</p>
    <p class="subtitle">
      Build your brand's recognition and get detialed<br />insights on how your
      links are performing.
    </p>
    <a href="#" class="accent-btn call-btn">Get Started</a>
  </div>
  <div class="col img-col">
    <img src="/undraw_link_shortener_mvf6.svg" width="100" />
  </div>
</div>

<form onsubmit="onSubmit">
  <input placeholder="Shorten a link here..." type="text" name="url" id="url" spellcheck="false" />
  <button class="accent-btn">Shrink It!</button>
</form>

<div id="shortenUrl">
  <div id="shortUrl"></div>
  <div class="features">
    <h2>Advanced Insights</h2>
    <h5>Track how your links are performing over time, geographic regions, and through various referral sources using our adanced dashboard.</h5>
    <div class="feature-row">
      <div class="feat-col feat-col-1">
        <img src="/undraw_Logo_design_re_gfu6.svg" height="107" alt="Brand recognition">
        <h3>Brand Recognition</h3>
        <p class="feat-text">Boost your brand recognition with each click. Generic, long links don't mean a thing. Branded links help instil confidence in your content.</p>
      </div>
      <div class="feat-col feat-col-2">
        <img src="/undraw_google_analytics_a57d.svg" height="107" alt="Brand recognition">
        <h3>Detailed Insights</h3>
        <p class="feat-text">Gain insights into who is clicking your links. Knowing when and where people engage with your content helps inform better decisions.</p>

      </div>
      <div class="feat-col feat-col-3">
        <img src="/undraw_Personal_settings_re_i6w4.svg" height="107" alt="Brand recognition">
        <h3>Full Customization</h3>
        <p class="feat-text">Improve brand awareness and content discoverability through customizable links, supercharging audience engagements.</p>
      </div>
    </div>
    <div class="feature-row">
      <div class="feat-col feat-col-1">
        <img src="/undraw_open_source_1qxw.svg" height="107" alt="Brand recognition">
        <h3>Open Source</h3>
        <p class="feat-text">Built from the ground up with open source software to enable powerful and performant services that you can trust.</p>
      </div>
      <div class="feat-col feat-col-2">
        <img src="/undraw_Savings_re_eq4w.svg" height="107" alt="Brand recognition">
        <h3>Cost Effective</h3>
        <p class="feat-text">We provide most features completely for free or for an extremely low price compared to other services.</p>

      </div>
      <div class="feat-col feat-col-3">
        <img src="/undraw_security_o890.svg" height="107" alt="Brand recognition">
        <h3>Security and Privacy</h3>
        <p class="feat-text">Your data or your users' is never exploited. We only collect or store what is required, nothing extra. Don't trust us? Check the code for yourself.</p>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/footer.ejs') %>
