<%- include('../partials/header.ejs') %>

<h1>Login</h1>

<form action="/login" method="POST">
    <input type="email" name="email" required placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Login">
</form>

</body>
</html>
