html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  width: 1000px;
  margin: auto;
}

header img {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 40px;
}

header a {
  text-decoration: none;
  color: hsl(0, 0%, 60%);
  transition: 0.2s;
  margin-right: 20px;
  font-weight: 500;
}

.brand-a {
  margin-right: 0 !important;
}

.right-a {
  float: right;
  margin-top: 54px;
}

.accent-btn {
  background-color: hsl(180, 66%, 49%);
  color: white;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 8px;
  padding-bottom: 8px;
  transition: 0.2s;
  border-radius: 20px;
  text-decoration: none;
}

.accent-btn:hover {
  background-color: hsl(180, 77%, 66%);
  color: white;
}

.signup {
  margin-right: 0;
  margin-top: 45px !important;
}

header a:hover {
  color: black;
}

header .nav-item {
  display: inline-block;
  vertical-align: middle;
}

.row {
  width: 100%;
  column-count: 2;
  column-gap: 0;
}

.col {
  height: 350px;
}

.title {
  font-weight: 700;
  font-size: 64px;
  color: hsl(255, 11%, 22%);
  line-height: 72px;
  margin-bottom: 0px;
}

.subtitle {
  color: hsl(257, 7%, 63%);
  margin-bottom: 40px;
}

.col img {
  width: 300px;
}

.img-col {
  padding-top: 50px;
  text-align: center;
  padding-left: 0px !important;
}

.call-btn {
  padding-left: 25px !important;
  padding-right: 25px !important;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  border-radius: 50px !important;
}

form {
  width: 100%;
  margin-top: 50px;
  background-color: hsl(257, 27%, 26%);
  border-radius: 7px;
  font-family: "Poppins", sans-serif;
}

input {
  margin: 35px;
  padding: 15px;
  padding-right: 0px;
  width: 740px;
  border-radius: 7px;
  border: none;
  outline: none;
  font-family: inherit;
}

form button {
  font-size: 16px;
  border-radius: 7px !important;
  outline: none;
  border: none;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  padding-left: 35px !important;
  padding-right: 35px !important;
  font-family: inherit;
  cursor: pointer;
}

.error {
  color: red;
}

#shortenUrl {
  width: 100%;
  position: absolute;
  top: 650px;
  left: 0;
  padding-top: 85px;
  padding-bottom: 20px;
  background-color: rgb(240 241 246);
  z-index: -1;
}

.url-div {
  width: 969px;
  margin: auto;
  background-color: white;
  border-radius: 7px;
  padding: 17px;
  margin-bottom: 15px;
}

.long-url {
  width: 50px;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.short-url {
  color: hsl(180, 77%, 66%);
}

.short-url a {
  text-decoration: none;
  color: rgb(95 203 196);
  cursor: pointer;
}

.copy-btn {
  width: 114px;
  font-family: inherit;
  background-color: hsl(180, 77%, 66%);
  border: none;
  outline: none;
  color: white;
  font-size: 15px;
  border-radius: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: -4px;
  margin-left: 20px;
}

.features {
  width: 1000px;
  margin: auto;
  text-align: center;
}

h2 {
  color: hsl(255, 11%, 22%);
  font-size: 42px;
  margin-bottom: 14px;
  margin-top: 48px;
  font-weight: 700;
}

h3 {
  color: hsl(255, 11%, 22%);
  font-size: 20px;
  font-weight: 700;
  text-align: left;
}

h5 {
  font-weight: 500;
  width: 700px;
  margin: auto;
  text-align: center;
  color: hsl(0, 0%, 60%);
  line-height: 27px;
  font-size: 15px;
}

.feature-row {
  margin-top: 50px;
  width: 100%;
  display: flex;
}

.feat-col {
  flex-grow: 1;
  width: 100%;
  align-self: flex-start;
  height: auto;
  margin-left: 15px;
  margin-right: 15px;
  padding: 20px;
  -webkit-box-shadow: 1px 1px 22px -2px rgba(148, 146, 148, 0.86);
  -moz-box-shadow: 1px 1px 22px -2px rgba(148, 146, 148, 0.86);
  box-shadow: 1px 1px 22px -2px rgba(148, 146, 148, 0.86);
  border-radius: 7px;
  background-color: white;
}

.feat-col-2 {
  margin-top: 20px;
}

.feat-col-3 {
  margin-top: 40px;
}

.feat-text {
  color: hsl(257, 7%, 63%);
  text-align: left;
  font-size: 14px;
  font-weight: 500;
}
